html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, tt, var, dl, dt, dd,  fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{margin:0; padding:0; border:0; outline:0; font-weight:normal}

body { width:100%; height:100%; position:relative;
       background-image: url('../img/pattern-green.png');
}
a,a:visited{text-decoration: none;color:#3BB25D;}

a:hover{
    color:#40B200;
}
*{font-family: 'Open Sans', sans-serif;
  font-size: 14px;  color:gray;}

*[type="submit"],*[type="button"],*[type="file"]{

    background-color: #3BB25D;
    background-image: linear-gradient(to bottom, #3BB25D, #40B200);
    background-repeat: repeat-x;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    font-size: 10.5px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: 4px 12px;
    text-align: center;
    vertical-align: top;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 45px;
    cursor: pointer;
}

*[type="submit"]:active,*[type="button"]:active,*[type="file"]:active{
    background-color: #84e36d;
    background-image:none;

}


*[type="text"],*[type="password"],textarea,select {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 4px;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 4px 6px;
    vertical-align: middle;
    width: 200px;
    min-height: 20px;
    cursor: pointer;

}

*[type="text"]:focus,*[type="password"]:focus,textarea:focus{
    -webkit-box-shadow: 0px 0px 3px 1px #40B200;
    -moz-box-shadow: 0px 0px 3px 1px #40B200;
    box-shadow: 0px 0px 3px 1px #40B200;
    border: 1px solid #fff;
}

.width-long{
    width:200px !important;
}
textarea{
    min-height: 300px;
    min-width: 450px
}
input[type=checkbox] ,input[type=radio]{
    display:none;
}

input[type=checkbox] + label ,input[type=radio] + label{
    padding-left:20px;
    height:15px; 
    display:inline-block;
    line-height:15px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;
    margin: 4px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type=checkbox]:checked + label,input[type=radio]:checked + label  {
    background-position: 0 -15px;
}

input[type=checkbox] + label{
    background-image:url(../img/csscheckbox-green.png);

}

input[type=radio] + label{
    background-image:url(../img/cssradio-green.png);

}

.main_container{
    width: 960px;
    min-height:400px;
    margin: 0 auto;
    margin-bottom: 10px;

}
.main_container .header{
    float:left;
    width:100%;
    height:135px;
    border-bottom: 1px solid #3BB25D;
    background: url('../img/logo.png') no-repeat #FFFFFF;
    background-position: 10px center;
    position: relative;
    border-right: 8px  #fff solid;
    border-left: 8px  #fff solid;


}
.header .language_menu{
    position: absolute;
    right:35px;
    top:25px;
}
.language_menu .lang_cell{
    float:right;
    margin-right: 8px;
}
.lang_cell a{
    font-size: 13px;
    color:#AEB0B2;  
}
.lang_cell a:hover,.lang_cell a.selected{
    color:#40B200;
}

.header .menu_container{
    position: absolute;
    left:310px;
    bottom:0px;
    width:650px;
    height:45px;


}
.header .menu_container a{
    font-size: 22px;
    color:#AEB0B2;
}


.main_container .body{
    float:left;
    width:100%;
    min-height: 100px;
    overflow: hidden;
    background: #fff;
    border: 8px #fff solid;
}
.body .slider{
    float:left;
    width:100%;
    margin-top:5px;
    height:345px;
}
.body .body_container{
    float:left;
    width:100%;
    min-height: 100px;
    overflow: hidden;
    border-top: 1px solid #3BB25D;  
    padding-top:20px;
    margin-top:5px;

}
.body_container .main_column{
    width:329px;
    border-right: 1px solid #3BB25D;
    background-color: #84e36d;
    float:left;
    padding-bottom: 10000px;
    margin-bottom: -10000px;/*Used for same divs height*/
}
.body_container .body_content{
    float:left;
    width:630px;
    position: relative;
    padding-bottom: 10000px;
    margin-bottom: -10000px;/*Used for same divs height*/
}
.body_content .category_container{

    width:100%;
    height:205px;
}
.body_content .category_entry{
    float:left;
    width:130px;
    height:180px;
    padding:10px;
    margin-left:6px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -khtml-border-radius:10px;
    border-radius:10px;
    color:#FFFFFF;
    position: relative;
}
.category_entry .category_header{
    text-align: center;
    float:left;
    width:100%;
    height:35px;
    margin-top: 20px;
    font-size: 20px;
    color: #eeeeee;
}
.category_entry .category_header a{
    font-size: 20px;
    color: #eeeeee; 
}

.category_entry .category_logo{
    margin: 0px auto;
    width:50px;
    height:50px;
    text-align: center;

    position: absolute;
    top: 70px;
    left:50px;
}
.category_entry .category_details{
    float:left;
    width:100%;
    margin-top: 5px;
    height: 50px;
    font-size: 12px;
    word-wrap:break-word;
    line-height: 140%;
    position: absolute;
    top:120px;
    color:#eeeeee;
}
.category_entry .category_more{

    position: absolute;
    bottom: 4px;
    right: 4px;
}
.category_more a{
    color:#FFFFFF;
}
.category_more a:hover{
    color:#FFFFFF;
    text-decoration: underline;
}
.category_entry.red{
    background-color:#D74264; 
    background-image: linear-gradient(to bottom, #D74264, #7E1E37);
    background-image: -moz-linear-gradient(top, #D74264, #7E1E37);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#D74264), to(#7E1E37));
    background-image: -webkit-linear-gradient(top, #D74264, #7E1E37);
    background-image: -o-linear-gradient(top, #D74264, #7E1E37);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D74264', endColorstr='#7E1E37', GradientType=0);

}
.category_entry.magneta{
    background-color:#CC3A84; 
    background-image: linear-gradient(to bottom, #CC3A84, #631D5B);
    background-image: -moz-linear-gradient(top, #CC3A84, #631D5B);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#CC3A84), to(#631D5B));
    background-image: -webkit-linear-gradient(top, #CC3A84, #631D5B);
    background-image: -o-linear-gradient(top, #CC3A84, #631D5B);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC3A84', endColorstr='#631D5B', GradientType=0);
}
.category_entry.green{
    background-color:#ADD037; 
    background-image: linear-gradient(to bottom, #ADD037, #4B7520);
    background-image: -moz-linear-gradient(top, #ADD037, #4B7520);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ADD037), to(#4B7520));
    background-image: -webkit-linear-gradient(top, #ADD037, #4B7520);
    background-image: -o-linear-gradient(top, #ADD037, #4B7520);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ADD037', endColorstr='#4B7520', GradientType=0);
}
.category_entry.yellow{
    background-color:#FFC80B; 
    background-image: linear-gradient(to bottom, #FFC80B, #958A00);
    background-image: -moz-linear-gradient(top, #FFC80B, #958A00);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFC80B), to(#958A00));
    background-image: -webkit-linear-gradient(top, #FFC80B, #958A00);
    background-image: -o-linear-gradient(top, #FFC80B, #958A00);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC80B', endColorstr='#958A00', GradientType=0);
}
.body_content .news_container{
    float:left;
    width:596px;
    margin:6px;
    padding-bottom:30px;
    border-bottom:1px solid #3BB25D;
    position: relative;

}
.news_container .news_header{
    float:left;
    width:600px;
    color: #AEB0B2;
    font-size: 24px;
    font-weight: bold;
}

.news_container .news_header a{
    font-size: 24px;
    font-weight: bold;
}

.news_container .news_body{
    float:left;
    width:600px;
    font-size: 14px;
    word-wrap: break-word;
    min-height: 20px;
    overflow: hidden;
    margin-top:10px;
}
.news_archive{
    padding: 10px;
}

.news_archive .span_news_archive{
    float:none;
    margin: 2px;
    font-weight: bold;
}

.news_container .news_body img{
    float: left;
    max-width: 200px;
    max-height: 200px;
    padding: 6px;
}
.news_container .news_body .more a{
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    right: 0px;

}
.news_info{
    margin: 6px;
}

.news_share a{
    padding-right: 20px; 
    float: right;
}

.body_content .latest_works{
    float:left;
    width:616px;
    margin:6px;
    border:1px solid #3BB25D;
}
.latest_works .latest_header{
    float:left;
    width:100%;
    height:70px;
}
.latest_header .latest_text{
    float:left;
    font-size: 26px;
    color:gray;
    margin-top:20px;
    margin-left: 10px;
}
.latest_works .latest_entry{
    float:left;
    width:150px;
    height:260px;
    margin-left:3px;
}
.latest_entry .entry_avatar{
    float:left;
    width:14px;
    border:1px solid #AEB0B2;
    height:130px;
    width:148px;
}
.latest_entry .entry_description{
    float:left;
    width:100%;
    height:130px;
    font-size: 11px;
    color:#AEB0B2;
    word-wrap: break-word;
    line-height: 130%;
}


.footer{
    float:left;
    height:134px;
    width:100%;
    margin-top:24px;
    border-top: 1px solid #3BB25D;
}
.footer .upper_footer{
    float:left;
    width:100%;
    height:63px;
    margin-top:-7px;
}
.upper_footer .connected{
    float:left;
    width:250px;
    margin-top:-4px;
}
.connected .connected_header{
    width:105px;
    float:left;
    padding-left:10px;
    background-color: #FFFFFF;
    color:#3BB25D;
}
.connected .connected_body{
    float:left;
    clear: both;
    width:310px;
    margin-left: 10px;
    color: #B5D5E7;
}
.upper_footer .social_links{
    float:left;
    width:710px;
}
.social_links .social_link{
    float:right;
    width:50px;
    height: 55px;
    margin:0px 28px;
}

.footer .lower_footer{
    float:left;
    width:100%;
    height:80px;
    background-color: green;
}
.lower_footer .details{
    float:right;
    width:450px;
    margin-right:15px;
    margin-top:5px;
    height:70px;
    font-size: 16px;
    color:#84E36D;
}
.main_column .std_block{
    width: 310px;
    min-height: 10px;
    overflow: hidden;
    background-color: #FFFFFF;
    margin:10px;
    float:left;
}
.std_block .std_block_content{
    width:290px;
    min-height: 10px;
    overflow: hidden;
    margin:10px;
    color:#3BB25D;
}
.std_block_content ul{
    color:#3BB25D;
    font-size: 32px;
}
.std_block_content ul a li{
    float: left;
    font-size: 36px;
    margin-top: 2px;
    text-align: left;
}
.std_block_content ul  li span a{
    font-size: 14px;
    line-height: 150%;
    float:right;
    width:100%;
    text-align:left;

}
.std_block_content .std_block_header{
    color:#E4EFFA;
    font-size: 26px;
    float:left;
    width:100%;
}
.std_block_content .std_block_body{
    float:left;
    width:100%;
    color:#3BB25D;
    margin-top: 10px;
}
.std_block_body .details_line{
    width:100%;
    float:left;
    font-weight:bold;
}
.std_block_body .progress_block{
    width:100%;
    float:left;
    margin-top:10px;
}
.progress_block .line_label{
    margin-bottom: 5px;
}
.std_block_content .std_line{
    float:left;
    width:100%;
    margin-bottom: 5px;
}
.std_line .line_type{
    float:left;

    width:130px;
    font-size: 16px;
    line-height: 180%;
}



#pt_menu nav ul {
    float: left;
    margin: 0; 
    padding: 0;
    text-align: left;
    white-space: nowrap;
    z-index: 10;

}
#pt_menu nav ul a{
}
#pt_menu nav ul li a, #pt_menu nav ul li {
    float: left;
}

#pt_menu nav ul li {
    list-style: none;
    position: relative;

}

#pt_menu nav ul li a {
    padding: 5px 5px;
    text-decoration: none;
    font-size: 20px;
    color:#AEB0B2;
}
#pt_menu nav ul>li{
    float:left;
    height:35px;
    padding:10px 5px 0px 5px;
    border-top:1px solid #AEB0B2;
}
#pt_menu nav >ul >li{
    margin-right:35px;
}
#pt_menu nav ul>li:hover{
    border-top:1px solid #3BB25D;
}


#pt_menu nav ul li a:hover {
    color:#3BB25D;
}


#pt_menu nav ul li ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    padding: 0; 
    margin: 0;
    background: #AEB0B2;
    opacity:0.85;
    filter: alpha(opacity=85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    color:#E8E5DD;

}

#pt_menu nav ul li:hover > ul {
    display: block;
}

#pt_menu nav ul li ul li, #pt_menu nav ul li ul li a {
    float: none;
    color:#E8E5DD;
}

#pt_menu nav ul li ul li {
    _display: inline; /* for IE6 */
}

#pt_menu nav ul li ul li a {
    min-width: 150px;
    display: block;
}

#pt_menu nav ul li ul li:hover {
    border-top:none;
}

/* SUBSUB Menu */

#pt_menu nav ul li ul li ul {
    display: none;
}

#pt_menu nav ul li ul li:hover ul {
    left: 100%;
    top: 0;
}

#wrapper{
    width: 960px;
    max-height: 380px;
    margin-bottom:10px;
    overflow: hidden;
}
.prog_content{
    position: relative;
    width: 626px;
    float:left;
    margin-left: 4px;
}

.news_comments{
    float:right; width:600px;padding-top: 14px;
}

.news_comment{
    position: relative; border: 1px #E4EFF7 solid;float: right;width: 600px; min-height: 140px; margin:4px 0px 0px 0px;
}
.news_comment_author{
    position:relative ;float: left;width: 100px;background: #84e36d;min-height: 200px;
}

.news_comment_user_reply{

    position: absolute; top: 110px;left:30px;width: 100px;
}

.news_comment_data{

    float: left;width:492px;min-height: 100px; margin: 4px;
}

.news_comment_user_name{
    line-height:2em ; border-bottom: 1px #E4EFF7 solid ;
}

.news_comment_date{
    float:right;
}

.news_comment_nbr{

    position: absolute; top: 180px;left:5px;width: 88px;color:#fff;
}

.page-links{
    clear: both;
    background: white;
    margin: 4px;
    padding: 4px;
    overflow: hidden
}


.gallery_div_picture{
    height: 170px; width: 200px; overflow: hidden; float: left; margin: 6px 4px; 
    text-align: center; position: relative;
}

.gallery_div_picture:hover{
    -moz-box-shadow: 1px 1px 2px #40B200;
    -webkit-box-shadow: 1px 1px 2px #40B200;
    box-shadow: 1px 1px 2px #40B200;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#40B200)';
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#40B200');

}

.gallery_div_label{
    position: absolute;bottom: 0px; width: 200px;height: 20px;overflow: hidden; text-align: center; background: #fff; 
}
.gallery_div_album{
    height: 170px; width: 200px; overflow: hidden; float: left; margin: 6px 2px !important; padding: 0px !important;
    text-align: center; position: relative; background: #fff;
}

.gallery_div_album:hover{
    -moz-box-shadow: 1px 1px 2px #40B200;
    -webkit-box-shadow: 1px 1px 2px #40B200;
    box-shadow: 1px 1px 2px #40B200;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#40B200)';
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#40B200');
}

.gallery_div_comment{
    font-size: x-small;color: #000; float: left; position: absolute; display: none;
    left:2px;top: 2px;background-color:rgba(255,255,255,0.5); padding: 2px;overflow: hidden; width:192px;
}
.static {
    background: url("../img/top.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 10px;
    right: 10px;
    position: fixed;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: none;
}



#recaptcha_privacy{

    display: none;
}


.password_strong{
    color:green;
    padding-left: 4px;
}

.password_medium{
    color: orange;
    padding-left: 4px;
}

.password_easy{
    color:red;
    padding-left: 4px;
}

.td_title{
    font-size: small;
    color: gray;
}

.td_data{
    color:#006DCC;
    font-size: small;
}

.td_title_header {
    font-weight: bolder;
    vertical-align: top;

}   

.td_title_header a {
    font-weight: bolder;
    vertical-align: top;

}

#formCV *[type=text],#formCV select {
    width: 115px;
}

.err{
    color:red;
}

.poll_choise{
    margin:10px;
}

.poll_percentage{
    background: #0044CC;
    background-image: linear-gradient(to bottom, #0088CC, #0044CC); 
    height:9px;  

}

.poll_title{
    padding: 2px 2px;
    margin-right: 2px;
    margin-left: 2px;
    font-weight: bold;
}
.news_home{
    margin-top: 20px;
}


.gallery_home_header{
    float:left;
    width: 100%;
    color: gray;
    font-size: 24px;
    margin-top: 20px;

}

.news_home_header{
    color: gray;
    font-size: 24px;
}

.shadetabs{
    min-height:50px;
    min-width:80px;
    padding: 1px 1px;
    margin: 2px;
    border: 1px solid #2C90D3;
    color: #2d2b2b;
    background: #E4EFF7;
    text-align: center;
}
.shadetabs a{
    text-decoration: none;

}
.shadetabs:hover{ 
    background: #fff;
}
.div_copyright{
    margin: 0px auto;
    width: 980px;
    text-align: center;
    color:#3BB25D;
}



#result_pagination_container_wrapper_div
{
    float: left;
    width: 600px;
    margin-top: 20px;
    padding: 10px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 10px;

    font-family: Verdana;
    font-size: 12px;
    line-height: 22px;
}

.result_tab_div
{
    float: left;
    margin-right: 10px;
    border-right: solid 1px #cccccc;
    padding-right: 10px;
}

.pagination_first
{
    color: #808080;

}
.pagination_last{
     color: #808080;
    border-right: 0px;
}

.pagination_previous,.pagination_next
{
    color: #808080;
}

.pagination_current
{
    color: #ccc;
    cursor: default;
}

.pagination_disabled
{
    color: gray;
    cursor: default;
}

.pagination_page
{
    color: #0067CC;
}

.news_cat{
    border: 3px #E4EFF7 solid;
    padding: 2px;
    margin-bottom: 4px;
    float: left;
}
.news_arabic_header,.news_arabic_header a{
    //margin-left: 4px;
    font-weight:bold ;
    font-size:larger;
    width:100%;
    margin: 0px auto;
}

.news_cat_more{
    float: right;
    padding-right: 10px;
}

.body_content .news_container{
    border-bottom: 1px solid #40ACDE;
    float: left;
    margin: 0px;
    padding-bottom: 0px;
    position: relative;
    width: 100%;
}

.news_body, .news_body a {
    font-size: 18px !important;  
    color:gray;
}
.news_body a:hover {
    color:#8E98F4;
}
.news_container .news_header{
    float: left;
}
.news_breif{
    height: 64px; width:90px; overflow: hidden; float: left; margin-right: 4px; margin-bottom: 4px; margin-top: -4px;
}

.urgent, .urgent a{
    color:#0090D3;
}

.news_agency_img {
    width: 32px;
    height: 28px;
    float:left;
    overflow: hidden;
    margin-right:4px;
}
.news_agency_img img {
    margin: 0px !important;
    padding : 0px !important;
    
}

.news_agency_detail_img{
    width: 30px;
    height: 28px;
    overflow: hidden;
    margin-right:4px;
    margin-left: 4px;
}

.news_share{
    float:right;
}

.news_date_breif{
    font-size: small;
    float: right;
   
}

.news_sub_title{
 font-size:x-large;   
}
.main_menu_item{
    border:1px solid #E4EFF7;font-size: 18px;padding: 2px;
}
.news_comment_user_pic{
    overflow: hidden;
      width:100px;
    height:80px;
}